.close-container{
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 0px;
    right: 2%;
    display: flex;
    justify-content: center;
  }
  
  .leftright{
    height: 4px;
    width: 20px;
    position: absolute;
    margin-top: 24px;
    background-color: white;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 20px;
    position: absolute;
    margin-top: 24px;
    background-color: white;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  label{
    color: white;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 0.5em;
    text-transform: uppercase;
    transition: all .3s ease-in;
    opacity: 0;
  }
  .close{
    margin: 40px 0 0 5px;
    position: absolute;
  }
  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: white;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: white;
  }
  .close-container:hover label{
    opacity: 1;
  }