body {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: white;
  background: black url('./assest/img//ff646737-b257-4a1e-99ef-ddac5add7d6b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}